:root {
  --border-radius: 0.75rem;
  --screen-width: 90vmin;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-size: 0.8rem;
}

* {
  box-sizing: border-box;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  background-color: rgb(37 37 37 / 75%) !important;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
